{% extends "layout.html" %}
{% block content %}

<!-- movie display -->
<div id="movie_display">

  <img id="movie_poster" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="" />

</div>

<form action='#' method="GET" name="ratingForm">

  <!-- buttons -->
  <a href=# class="rating-buttons" id="dislike">
    <button"><img src="{{url_for('static', filename='images/x_button.png')}}" /></button>
  </a>

  <a href=# class="rating-buttons" id="unknown">
    <button><img src="{{url_for('static', filename='images/unknown_button.png')}}" /></button>
  </a>

  <a href=# class="rating-buttons" id="like">
    <button"><img src="{{url_for('static', filename='images/check_button.png')}}" /></button>
  </a>

  <!-- hidden data to submit -->

  <input type="hidden" name="movie_rated" value="{{movie.id}}" />
  <input type="hidden" name="rating" id="rating" value="" />

</form>


<!-- button functionality -->
<script type=text/javascript>

  $(function() {
    $('a#dislike').bind('click', function() {
      document.getElementById("rating").value = "dislike";
      document.ratingForm.method = "POST";
      document.ratingForm.submit();
      document.ratingForm.method = "GET";
  return false;
});
});

 $(function() {
    $('a#unknown').bind('click', function() {
      document.getElementById("rating").value = "unknown";
      document.ratingForm.method = "POST";
      document.ratingForm.submit();
      document.ratingForm.method = "GET";
  return false;
});
});

$(function() {
    $('a#like').bind('click', function() {
      document.getElementById("rating").value = "like";
      document.ratingForm.method = "POST";
      document.ratingForm.submit();
      document.ratingForm.method = "GET";
  return false;
});
});
</script>

{% endblock content %}